<html>
  <head>
    <title>Contact Vance</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper page-header box">
        <a href="#" class="brand-logo">Vance Pope</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <div class="row">
          <br />
          <form class="col s8" action="/thanks" method="POST">
          <div class="row">
            <div class="input-field col s4 black-text">
              <input placeholder="John" id="firstName" name="firstName" type="text" class="validate" required>
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s4 black-text">
              <input placeholder="Doe" id="lastName" name="lastName" type="text" class="validate" required>
              <label for="lastName">Last Name</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s8 black-text">
            <input placeholder="johndoe@example.com" id="email" name="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 black-text">
            <input placeholder="Your Company" id="disabled" name="company" type="text" class="validate" required>
            <label for="company">Company</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 black-text">
            <input placeholder="Subject" id="subject" type="text" name="subject" class="validate" required>
            <label for="subject">Subject</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8 black-text">
            <textarea class="materialize-textarea" placeholder="Your Message" name="message" id="message" cols="30" rows="10" required></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <div class="row">
          <input class="btn col s8 black white-text" type="submit">
        </div>
        </form>
      </div>
    </div>
    </main>
    
  <div class='footer'>
      <footer class="page-footer footbox">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Vance's Portfolio</h5>
                <p class="white-text">Programming is a game of looking forward to your next wall.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text text-lighten-4">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.github.com/vancepope" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/vance-pope-20112b116" target="_blank"><i class="fab fa-linkedin"></i> Linked In</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.codewars.com/users/vancepope" target="_blank"><i class="fas fa-code"></i> Code Wars</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Vance Pope Portfolio
            </div>
          </div>
      </footer>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>