<html>
  <head>
      <title>Welcome!</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
      <!-- Bulma Version 0.7.2-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
      <link rel="stylesheet" type="text/css" href="css/landing.css">
    </head>
    <body>
        <main>
            <section class="hero is-info is-fullheight">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="resume/VPope-Resume.pdf" target="_blank">
                                            <span class="icon">
                                                <i class="fas fa-file"></i>
                                            </span>
                                            <span>Resume</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="https://www.github.com/vancepope" target="_blank">
                                            <span class="icon">
                                                <i class="fab fa-github"></i>
                                            </span>
                                            <span>Github</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="https://www.linkedin.com/in/vance-pope-20112b116" target="_blank">
                                            <span class="icon">
                                                <i class="fab fa-linkedin-in"></i>
                                            </span>
                                            <span>Linked In</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                        <a class="button is-white is-outlined" href="https://www.codewars.com/users/vancepope" target="_blank">
                                            <span class="icon">
                                                <i class="fa fa-code"></i>
                                            </span>
                                            <span>Code Wars</span>
                                        </a>
                                    </span>
                                    <span class="navbar-item">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="column is-6 is-offset-3">
                            <h1 class="title">Welcome to my portfolio!</h1>
                            <h2 class="subtitle">Programming is a game of looking forward to your next wall.</h2>
                            <span class="has-text-white has-text-centered">
                                <a class="button is-info is-inverted is-outlined home" href="/index">
                                        <div class="icon">
                                            <i class="fa fa-home"></i>
                                        </div>
                                    <div>Enter</div>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</div>
  <script async type="text/javascript" src="../js/bulma.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>