<html>
  <head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper page-header box">
        <a href="#" class="brand-logo">Vance Pope</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </nav>
    <main>
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-item black-text" href="#one!">
      <div class="container">
       <div class="row">
         <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/changecalculator.png">
               <span class="card-title black-text">Change Calculator</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-changecalculator.herokuapp.com/" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This is a project for a change calculator that will calculate change in dollars and coins.</p>
            </div>
          </div>
       </div>
       <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/tictactoe.png">
               <span class="card-title black-text">Tic Tac Toe Game</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-tictactoe.herokuapp.com/" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project was something I started working on before I started going to Origin Code Academy. It is built using JavaScript and jQuery.</p>
            </div>
          </div>
       </div>
     </div>
      </div>  
    </div>
    <div class="carousel-item black-text" href="#two!">
      <div class="container">
       <div class="row">
         <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/mortgage.png">
               <span class="card-title black-text">Mortgage Calculator</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-mortgage-calculator.herokuapp.com" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project is built using ReactJs and calculates the monthly payment for mortgages.</p>
            </div>
          </div>
       </div>
       <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/vstda.png">
               <span class="card-title black-text">Very Simple To-Do App</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-vstda.herokuapp.com" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project is built using ReactJs and allows users to add their daily to-dos. A user can set the priority of each todo, edit them if there are any errors, and also cross them out once they have been completed.</p>
            </div>
          </div>
       </div>
     </div>
      </div>  
    </div>
    <div class="carousel-item black-text" href="#three!">
      <div class="container">
       <div class="row">
         <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/topspots.png">
               <span class="card-title black-text">San Diego Top Spots</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-topspots.herokuapp.com" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project is built using ReactJs, lists various topspots within San Diego from JSON data, and allows users to view the location on Google Maps.</p>
            </div>
          </div>
       </div>
       <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/web102-topspots.png">
               <span class="card-title black-text">San Diego Top Spots w/ Google API</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-topspots.herokuapp.com" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project is built using JavaScript and jQuery utilizing the Google Maps API. The application displays a list of top spots along with a map. The map displays multiple markers and allows the user to click each marker to view the name and description of the specified marker.</p>
            </div>
          </div>
       </div>
     </div>
      </div>  
    </div>
    <!-- <div class="carousel-item black-text" href="#four!">
      <div class="container">
       <div class="row">
         <div class="col s12 m6">
           <div class="card">
             <div class="card-image">
               <img src="img/topspots.png">
               <span class="card-title">San Diego Top Spots</span>
               <a class="btn-floating halfway-fab waves-effect waves-light red" href="https://vrp-topspots.herokuapp.com" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-content">
            <p>This project us built using ReactJs, lists various topspots within San Diego from JSON data, and allows users to view the location on Google Maps.</p>
            </div>
          </div>
       </div>
     </div>
      </div>  
    </div> -->
  </div>
  </main>
  <div class='footer'>
      <footer class="page-footer footbox wrapper">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Vance's Portfolio</h5>
                <p class="grey-text text-lighten-4">Programming is a game of looking forward to your next wall.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.github.com/vancepope" target="_blank"><i class="fab fa-github-square"></i> Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/vance-pope-20112b116"><i class="fab fa-linkedin" target="_blank"></i> Linked In</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.codewars.com/users/vancepope" target="_blank"><i class="fas fa-code"></i> Code Wars</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Vance Pope Portfolio
            </div>
          </div>
      </footer>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="js/carousel.js"></script>
  </body>
</html>