<div class="columns">
          <br /><br /><br />
      <div class="column">
        <div class="column">
          <div class="cardItem">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="img/head.png" alt="Face shot">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                   
                  </div>
                </div>
                <div class="content">
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="cardItem">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="img/fathernson.jpg" alt="Son and I">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <h2><strong>Father first and foremost</strong></h2>
                  </div>
                </div>
                <div class="content">
                  <p class="wrapped">I am Vance Pope, born and raised in San Diego, Ca. I am a proud father of an 8-year-old boy named Emmet. I love to program, dance (or at least try to), play video games, hangout with friends and family.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div>
        <h2>My Time in the Navy</h2>
        <p class="black-text">In June 2007, I decided to follow my father's footsteps and join the United States Navy. I shipped off to bootcamp later that year in October. After completing two years of schooling in Great Lakes, Illinois, I successfully became an Interior Communications Electrician (IC) and was due for assignment to the surface fleet. Upon arriving back home, I was stationed aboard the USS Germantown (LSD 42) as the ship's control console technician.</p>
        
        <img class="float-left round" src="img/navy.jpg" alt="Navy">
      
        <h2>Family is everything</h2>
        <p class="black-text">In February of this year, my mother, son and I took a month long trip to visit my mother's siblings in the Philippines. In this photo, we were visiting the historic Mt. Samat in our home province of Bataan, Philippines. It was the last stronghold for the allies as the capital of Manila had fallen into Japanese control during World War II.</p>
        <img class="round" src="img/mtsamat.jpg" alt="Mt. Samat">
      
        
      </div>
      </section>
      <br />
  